Resources:
  AWSEBAutoScalingLaunchTemplate:
    Type: AWS::EC2::LaunchTemplate
    Properties:
      LaunchTemplateData:
        BlockDeviceMappings:
          - DeviceName: /dev/xvda        # root device on Amazon Linux 2023
            Ebs:
              VolumeSize: 100            # <- your desired GiB
              VolumeType: gp3
