Resources:
  AWSEBAutoScalingLaunchTemplate:
    Type: AWS::EC2::LaunchTemplate
    Properties:
      LaunchTemplateData:
        # re‑add your EB instance profile here:
        IamInstanceProfile:
          Name: aws-elasticbeanstalk-ec2-role

        # then your root-volume mapping:
        BlockDeviceMappings:
          - DeviceName: /dev/xvda
            Ebs:
              VolumeSize: 100
              VolumeType: gp3
