Resources:
  AWSEBAutoScalingLaunchTemplate:
    Type: AWS::EC2::LaunchTemplate
    Properties:
      LaunchTemplateData:
        # override the root device
        BlockDeviceMappings:
          - DeviceName: /dev/xvda   # AL2/AL2023 root
            Ebs:
              VolumeSize: 100       # GiB
              VolumeType: gp3
